.listContainer {
  margin: 2rem 0;
}

.listHeader {
  display: none;
}

.error {
  color: red;
  text-align: center;
}

.loading,
.emptyData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.coinImage {
  height: 6rem;
  margin-bottom: 1rem;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loading .coinImage {
  transform-origin: 50% 50%;
  animation: rotate 1.2s linear infinite;
}

@media (min-width: 992px) {
  .listHeader {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 1rem;
  }

  .headerText {
    font-weight: bold;
  }

  .headerText:nth-child(1) {
    width: 38%;
  }
  .headerText:nth-child(2) {
    width: 12%;
  }
  .headerText:nth-child(3) {
    width: 8%;
  }
  .headerText:nth-child(4) {
    width: 18%;
  }
  .headerText:nth-child(5) {
    width: 18%;
  }
}
