.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.row.new {
  background-color: rgb(99, 99, 99);
}

.description {
  width: 60%;
  font-weight: bold;
}
.description.new,
.description.edit {
  font-weight: normal;
}

.amount {
  display: flex;
  align-items: center;
  width: 35%;
}

.date {
  margin-top: 0.4rem;
  color: #333;
}

.tax {
  flex-grow: 1;
  text-align: end;
  margin-top: 0.4rem;
  font-size: 0.8rem;
  flex-shrink: 0;
}

.taxInfo {
}

.buttonContainer {
  width: 100%;
  text-align: end;
  margin-top: 0.4rem;
}

.editButton,
.deleteButton,
.saveButton,
.cancelButton {
  /* display: none; */
  height: 2rem;
  padding: 0 1rem;
  margin-left: 0.4rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.editButton,
.saveButton {
  background-color: black;
  color: white;
}
.editButton:hover,
.saveButton:hover {
  background-color: rgb(31, 30, 30);
}

.deleteButton,
.cancelButton {
  background-color: gray;
  color: white;
}
.deleteButton:hover,
.cancelButton:hover {
  background-color: rgb(97, 95, 95);
}

/* .row:hover .editButton,
.row:hover .deleteButton {
  display: inline;
} */

.errorContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 99, 71, 0.95);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 1rem;
}

@media (min-width: 992px) {
  .row {
  }

  .description {
    width: 38%;
  }

  .amount {
    width: 12%;
  }

  .date {
    width: 18%;
    order: 2;
  }

  .tax {
    width: 8%;
    flex-grow: 0;
    font-size: 0.9rem;
    order: 1;
  }

  .taxInfo {
    /* display: none;     */
  }

  .buttonContainer {
    width: 18%;
    order: 3;
  }

  .editButton,
  .deleteButton,
  .saveButton,
  .cancelButton {
    height: 2rem;
    padding: 0 1rem;
    margin-left: 0.4rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }

  .editButton,
  .saveButton {
    background-color: black;
    color: white;
  }
  .editButton:hover,
  .saveButton:hover {
    background-color: rgb(31, 30, 30);
  }

  .deleteButton,
  .cancelButton {
    background-color: gray;
    color: white;
  }
  .deleteButton:hover,
  .cancelButton:hover {
    background-color: rgb(97, 95, 95);
  }
}
